div {

    background-color: #89CFF0;
    display:flex;
    justify-content: space-evenly;

}

button {
    width: 200px;
    height: 200px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: blue;
    border-radius: 20px;
    


}
